
h1,h2,h3,h4,ul,li{
    margin: 0px;
    padding: 0px;
}

*{
     font-family: "Montserrat", sans-serif;
}

.bg{
    text-align: center;
    height:auto;
    background-color:#1d434e;
    color: #fff;
}
.top{
    margin-top:20px;
    padding-bottom:30px;
}
.top h1{
    font-weight: 700;
}
.care{
    color: khaki;
}
.bg2{
    background-color: #ffe4c4;
    min-height:400px;
}

.left{
    width: auto;
    height: 300px;
}
.left h4{
    border-bottom:1px solid #bcbcbc;
}
.mid{
    padding-top:50px;
}

.link1{
    color:#000;
    
}
.link1:hover{
    color:rgb(46, 124, 97);
    text-decoration: none;
}
.link2{
    color: #000;
    
}
.link2:hover{
    color:rgb(46, 124, 97);
    text-decoration: none;
}
.link3{
    color: #000;
    
}
.link3:hover{
    color:rgb(46, 124, 97);
    text-decoration: none;
}
.fa-facebook-f{
    color: #000;
}
.fa-facebook-f:hover{
    color: rgb(46, 124, 97);
}
.fa-instagram{
    color: #000;
}
.fa-instagram:hover{
    color: rgb(46, 124, 97);
}
.fa-youtube{
    color: #000;
}
.fa-youtube:hover{
    color: rgb(46, 124, 97);
}
.fa-x-twitter{
    color:#000;
}
.fa-x-twitter:hover{
    color: rgb(46, 124, 97);
}
.icons{
    padding-bottom: 20px;
}

.form{
    padding-top: 20px;
    width: 100%;
}

.bg3{
    background-color:#ffe4c4;
    padding-top: 20px;
}
.gt:hover{
    color: rgb(46, 124, 97) !important;
}

/*media Starts*/

@media only screen and (max-width: 420px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width:578px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width: 600px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width:768px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width:900px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width:1200px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}

@media only screen and (max-width:2000px){
    .bg{
         text-align: center;
         height:auto;
         background-color:#1d434e;
         color: #fff;
         padding: 30px 0;
    }

    .bg2{
    background-color: #ffe4c4;
    height:auto;
    padding: 30px 0;
    }

    .left{
    padding-top:50px;
    height: auto;
}
.right{
    height: auto;
    width: 100%;
}

}